<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <!-- Title of the webpage -->
    <title>Login</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <!-- Inline CSS for custom styling -->
    <style>
        h1 {
          text-align: center;
          color: #00008B;  /* Dark blue color */
          border: 3px solid black;  /* Border around the heading */
          padding: 30px;  /* Padding inside the border */
          font-family: verdana;  /* Font style */
          font-size: 400%;  /* Font size */
      }

      h5 {
          text-align: center;
          color: red;  /* Red color for error message */
      }
    </style>
</head>
<body>

<!-- Navigation bar -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <div class="navbar-nav">
            <a class="nav-item nav-link" th:href= "@{/}">Home</a>
        </div>
    </div>
</nav>

<br>
<br>
<!-- Main heading of the page -->
<h1>EXPENSE TRACKER</h1>
<br>
<br>
<div class = "container">
    <div class = "row">
        <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <!-- Header for the form -->
            <h2 class = "text-center"> User Login </h2>
            <div class = "card-body">
            <!-- Form for user login -->
            <form th:action="@{/user/login}" th:object="${user}" method="post">
                <div class ="form-group">
                    <label> First Name </label>
                    <input
                            type = "text"
                            name = "firstName"
                            th:field = "*{firstName}"
                            class = "form-control"
                            placeholder="Enter User First Name"
                    />
                </div>

                <div class ="form-group">
                    <label> Last Name </label>
                    <input
                            type = "text"
                            name = "lastName"
                            th:field = "*{lastName}"
                            class = "form-control"
                            placeholder="Enter User Last Name"
                    />
                </div>

                <div>
                    <label>Password:</label>
                    <input
                            type="password"
                            name = "password"
                            th:field="*{password}"
                            class = "form-control"
                            placeholder="Enter Password"
                    />
                </div>

                <!-- Submit button -->
                <div class = "box-footer">
                    <button type="submit" class = "btn btn-primary">Submit</button>
                </div>


                <div th:if="${error}">
                    <span th:text="${error}" style="color: red"></span>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>

<h5>Enter the correct credentials only !</h5>
</body>
</html>
