<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Transaction</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <div class="navbar-nav">
            <a class="nav-item nav-link" th:href= "@{/}">Home</a>
            <a class="nav-item nav-link" th:href= "@{/user/user_list}">User </a>
            <a class="nav-item nav-link" th:href= "@{/category/category_list}">Category</a>
            <a class="nav-item nav-link" th:href= "@{/transaction/transaction_list}">Transaction</a>
        </div>
    </div>
</nav>

<br>
<br>
<div class ="container">
    <div class = "row">
        <h1> Transaction Details </h1>
    </div>




    <table class = "table align-middle">
        <thead class = "table-success" >
        <tr>
            <th> Transaction Id</th>
            <th> Transaction Name</th>
        </tr>
        </thead>

        <tbody class = "table-success">
            <td th:text = "${transaction.id}"></td>
            <td th:text = "${transaction.transactionName}"></td>

        </tbody>
    </table>



    <table class = "table table-striped table-bordered">
        <thead class = "table-dark">
        <tr>
            <th> Category Name </th>
            <th> Lender First Name</th>
            <th> Lender Last Name</th>
            <th> Borrower First Name</th>
            <th> Borrower Last Name</th>
            <th> Price (in rupees)</th>
            <th> Creation Time</th>
            <th> Last Updated</th>
        </tr>
        </thead>

        <tbody>
            <td th:text = "${transaction.categoryName}"></td>
            <td th:text = "${transaction.lenderFirstName}"></td>
            <td th:text = "${transaction.lenderLastName}"></td>
            <td th:text = "${transaction.borrowerFirstName}"></td>
            <td th:text = "${transaction.borrowerLastName}"></td>
            <td th:text = "${transaction.price}"></td>
            <td th:text = "${transaction.dateCreated}"></td>
            <td th:text = "${transaction.lastUpdated}"></td>
        </tbody>

    </table>

</div>
</body>
</html>