<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <!-- Title of the webpage -->
    <title>Add User</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>

<!-- Navigation bar -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <div class="navbar-nav">
            <a class="nav-item nav-link" th:href= "@{/}">Home</a>
            <a class="nav-item nav-link" th:href= "@{/user/user_list}">User </a>
            <a class="nav-item nav-link" th:href= "@{/category/category_list}">Category</a>
            <a class="nav-item nav-link" th:href= "@{/transaction/transaction_list}">Transaction</a>
        </div>
    </div>
</nav>

<br>
<br>
<div class = "container">
    <div class = "row">
        <!-- Form for creating a new user -->
        <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <!-- Title for the form -->
            <h1 class = "text-center"> Create New User </h1>
            <div class = "card-body">
                <form th:action="@{/user/create}" th:method="post" th:object="${user}">
                    <div class ="form-group">
                        <label> First Name </label>
                        <!-- Input field for first name -->
                        <input
                                type = "text"
                                name = "firstName"
                                th:field = "*{firstName}"
                                class = "form-control"
                                placeholder="Enter User First Name"
                        />
                    </div>

                    <div class ="form-group">
                        <label> Last Name </label>
                        <!-- Input field for last name -->
                        <input
                                type = "text"
                                name = "lastName"
                                th:field = "*{lastName}"
                                class = "form-control"
                                placeholder="Enter User Last Name"
                        />
                    </div>

                    <div>
                        <label>Password:</label>
                        <!-- Input field for password -->
                        <input
                                type="password"
                                name = "password"
                                th:field="*{password}"
                                class = "form-control"
                                placeholder="Enter Password"
                        />
                    </div>

                    <!-- Submit button -->
                    <div class = "box-footer">
                        <button type="submit" class = "btn btn-primary">Submit</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<br/>

</body>
</html>