<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <!-- Title of the webpage -->
    <title>User</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>

<!-- Navigation bar -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <div class="navbar-nav">
            <a class="nav-item nav-link" th:href= "@{/}">Home</a>
            <a class="nav-item nav-link" th:href= "@{/user/user_list}">User </a>
            <a class="nav-item nav-link" th:href= "@{/category/category_list}">Category</a>
            <a class="nav-item nav-link" th:href= "@{/transaction/transaction_list}">Transaction</a>
        </div>
    </div>
</nav>

<br>
<br>
<div class ="container">
    <div class = "row">
        <!-- Heading for user details -->
        <h1> User Details </h1>
    </div>

    <!-- Table for displaying basic user information -->
    <table class = "table align-middle">
        <thead class = "table-success" >
        <tr>
            <!-- Column headers -->
            <th> User Id</th>
            <th> First Name</th>
            <th> Last Name</th>
        </tr>
        </thead>

        <tbody class = "table-success">
            <td th:text = "${user.user_id}"></td>
            <td th:text = "${user.firstName}"></td>
            <td th:text = "${user.lastName}"></td>

        </tbody>
    </table>

    <!-- Table for displaying user activity details -->
    <table class = "table table-striped table-bordered">
        <thead class = "table-dark">
        <tr>
            <th> Activity Id</th>
            <th> Category Name</th>
            <th> Last Updated</th>
            <th>Transaction List</th>
            <th> Balance</th>
        </tr>
        </thead>

        <tbody>
                 <!-- Iterate over user responses -->
                <tr  th:each="userResponse : ${user.userResponse}">
                             <!-- Display user response details -->
                            <td th:text = "${userResponse.response_id}"></td>
                            <td th:text = "${userResponse.categoryName}"></td>
                            <td th:text = "${userResponse.lastUpdated}"></td>
                            <td th:text = "${userResponse.trans_list}"></td>
                            <td th:text = "${userResponse.balance}"></td>
                </tr>
        </tbody>
    </table>

    <!-- Additional information about balance section -->
    <p>In Balance Section :-</p>
    <p>" Negative balance : amount (in Rs.) to be received from the users of the respective category"</p>
    <p>" Positive balance : amount (in Rs.) to be given to the users of the respective category"</p>
</div>
</body>
</html>